<div class="alert  alert-dismissable {{error && 'alert-danger'|| 'alert-success'}}" ng-if="message" style="display:{{message && 'block' || 'none'}}">
    <button type="button" class="close" onclick="$('.alert').hide()">×</button>
    {{message}}
</div>
<h3>Product Approval Logs</h3>
<div class="row form-inline">
<div class="col-md-3">
    <div class="input-group custom-search-form col-md-12">
        <input type="text" class="form-control" placeholder="Search..." ng-model="search">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</div>

<div class="col-md-6">
    <select class="form-control " ng-options="option.name for option in approvalOptions track by option.id" ng-model="approvalOptions.selectedApprovalStatus" ng-change="getProductApprovalList(approvalOptions.selectedApprovalStatus)"></select>
</div>
</div>
<div class="bs-example4" data-example-id="contextual-table">
    <table class="table">
        <thead>
        <tr>
                    <th>Product Id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th class="text-center">Price</th>
                    <th>Icon</th>
                    <th>Price Coin</th>
                    <th>Coin Quantity</th>
                    <th>Category</th>
                    <th>Active</th>
                    <th >Action</th>
                </tr>
        </thead>
        <tbody class="table-hover">
            <tr dir-paginate="log in productApprovalLogs | filter:search | itemsPerPage: pageSize" current-page="currentPage">
                <td>{{log.productId}}</td>
                <td>{{log.productName}}</td> 
                <td>{{log.productTypeName}}</td>
                <td class="text-center">{{log.productPrice}}</td>
                <td>{{log.productIcon}}</td>
                <td>{{log.coinName}}</td>
                <td class="text-center">{{log.productPriceCoinQuantity}}</td>
                <td>{{log.productCategoryName}}</td>
                <td>{{log.active && 'active'|| 'inactive'}}</td>
                <td >
                    <a ng-if="log.approvalStatus == 1" href="#/product-approval-add-edit/{{log.logId}}" class="btn btn-primary">Approve/Reject</a>&nbsp;&nbsp;
                </td>
            </tr>

        </tbody>
    </table>
</div>
<div  class="other-controller" >
    <div class="text-center float_left">
        <dir-pagination-controls boundary-links="true" max-size="10"  auto-hide="false"  template-url="directives/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
    <div class="text-center pagination_row_count" >
              <label>Row count</label>  <input class="pagination_row_count_input form-control" type="number" min="1" max="100"  placeholder="perpage..." ng-model="pageSize">
    </div>
</div>