<div class="alert  alert-dismissable {{error && 'alert-danger'|| 'alert-success'}}" ng-if="message" style="display:{{message && 'block' || 'none'}}">
    <button type="button" class="close" onclick="$('.alert').hide()">×</button>
    {{message}}
</div>
<h3>Profile completion Rule list</h3>

<div class="input-group custom-search-form col-md-3">
    <input type="text" class="form-control" placeholder="Search..." ng-model="search">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">
            <i class="fa fa-search"></i>
        </button>
    </span>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Rule</th>
        <th>Profile Attribute</th>
        <th>Coin</th>
        <th>Coin Quantity</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody class="table-hover">
  
    <tr dir-paginate="rule in ruleUserProfileCompletions | filter:search | itemsPerPage: pageSize" current-page="currentPage">
     
        <td>{{rule.ruleName}}</td>
        <td>{{rule.attributeTitle}}</td>
        <td>{{rule.coinName}}</td>
        <td>{{rule.coinQuantity}}</td>
        <td>{{rule.description}}</td>
        <td>{{rule.active && 'active'|| 'inactive'}}</td>
        <td>
            <a href="#/rule-profile-completion-add-edit/{{rule.ruleUserProfileCompletionId}}" class="btn btn-primary">Edit</a>&nbsp;&nbsp;
            <input class="btn btn-danger" type="button" value="Delete" ng-click="deleteRuleUserProfileCompletion(rule.ruleUserProfileCompletionId)">
        </td>
        
    </tr>
    
    </tbody>
</table>
<a href="#/rule-profile-completion-add-edit/new" class="btn btn-primary">Add New</a>
<div  class="other-controller">
    <div class="text-center float_left" >
        <dir-pagination-controls boundary-links="true" max-size="10" auto-hide="false"  template-url="directives/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
    <div class="text-center pagination_row_count" >
        <label>Row count</label>  <input class="pagination_row_count_input form-control" type="number" min="1" max="100"  placeholder="perpage..." ng-model="pageSize">
    </div>
</div>
