<div class="alert  alert-dismissable {{error && 'alert-danger'|| 'alert-success'}}" ng-if="message" style="display:{{message && 'block' || 'none'}}">
    <button type="button" class="close" onclick="$('.alert').hide()">×</button>
    {{message}}
</div>
<h3 class="form-heading">{{operation}} Coin</h3>
<div >
    <form name="form" ng-submit="form.$valid && handleSubmit()" novalidate>
        <div class="row">  
            <div class="col-md-4">
                <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.coinName.$invalid }">
                    <label for="coinName" >Coin Name</label>
                    
                        <input class="form-control" type="text" name="coinName" ng-model="coinName" required />
                        <div ng-messages="form.$submitted && form.coinName.$error" class="help-block">
                            <div ng-message="required">Coin Name is required</div>
                        </div>
                    
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.baseUnit.$invalid }">
                    <label for="baseUnit" >Base Unit</label>
                    
                        <input type="text" class="form-control" name="baseUnit" ng-model="baseUnit" only-digits min-value="1" required />
                        <div ng-messages="form.$submitted && form.baseUnit.$error" class="help-block">
                            <div ng-message="required">Base Unit is required</div>
                        </div>
                    
                </div>
                <div class="form-group">
                    <label for="active" >Active</label>
                    
                        <input type="checkbox" name="active" ng-model="active" value="true"/>
                    
                </div>
                <div class="form-group">
                    <button ng-disabled="loading" class="btn btn-primary">Save</button>
                    <img ng-if="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>
            </div>
        </div>
    </form>
</div>
